<!-- Team -->
<section class="page-section" id="{{ site.data.sitetext.members.section | default: "members" }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.members.title }}</h2>
  </div>
  </div>
  <div class="row featurette">
    <div class="col-lg-12 text-center">
      <h3 class="section-subheading text-muted">Professor</h3>
    </div>
    <div class="col-md-12 order-md-1">
      <center>
      <div class="mx-auto rounded-circle" style="width: 300px; height: 300px; overflow: hidden">
        <img src="{{site.data.sitetext.members.professor.image}}" alt="" style="width: 300px; height: auto;">
      </div>
      </center>
      <div style="padding-bottom: 30px;">
      </div>
      <h2 class="feature-heading" style="text-align: center;">{{site.data.sitetext.members.professor.name}}</h2>
    </div>
    <div class="col-md-6 order-md-2">
      <h2 class="feature-heading" style="text-align: center; font-size: 20px;">Educations</h2>
      <p class="lead" ><pre style="font-family:나눔고딕; line-height: 200%; font-size: 15px;">{{site.data.sitetext.members.professor.education}}</pre></p>
    </div>
    <div class="col-md-6 order-md-3">
      <h2 class="feature-heading" style="text-align: center; font-size: 20px">Interests</h2>
      <p class="lead" ><pre style="font-family:나눔고딕; line-height: 200%; font-size: 15px;">{{site.data.sitetext.members.professor.interests}}</pre></p>
    </div>
    
  </div>

  <hr class="featurette-divider">
  
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-subheading text-muted">Enrolled Students</h3>
      <span>
    </div>
  {% for person in site.data.sitetext.members.students %}
	<div class="col-sm-4">
	  <div class="team-member">
    <div class="mx-auto rounded-circle" style="width: 200px; height: 200px; overflow: hidden;">
		  <img src="{{ person.image }}" alt="" style="width: 100%; height: auto;" border="0">
    </div>
		<h4>{{ person.name }}</h4>
		<p class="text-muted">{{ person.role }}</p>
		<ul class="list-inline social-buttons">
		{% for network in person.social %}
		  <li class="list-inline-item">
			<a href="{{ network.url }}">
			  <i class="{{ network.icon }}"></i>
			</a>
		  </li>
		{% endfor %}
		</ul>
	  </div>
	</div>
  {% endfor %}
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-subheading text-muted">Alumni</h3>
      <span>
    </div>
  {% for person in site.data.sitetext.members.alumni %}
	<div class="col-sm-4">
	  <div class="team-member">
    <div class="mx-auto rounded-circle" style="width: 200px; height: 200px; overflow: hidden;">
		  <img src="{{ person.image }}" alt="" style="width: 100%; height: auto;">
    </div>
		<h4>{{ person.name }}</h4>
		<p class="text-muted">{{ person.role }}</p>
		<ul class="list-inline social-buttons">
		{% for network in person.social %}
		  <li class="list-inline-item">
			<a href="{{ network.url }}">
			  <i class="{{ network.icon }}"></i>
			</a>
		  </li>
		{% endfor %}
		</ul>
	  </div>
	</div>
  {% endfor %}
  </div>
  
  <hr class="featurette-divider">

  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.members.subtext | markdownify }}</div>
	</div>
  </div>
</div>

</section>
<!-- End Team -->
